In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('playtennis.csv')
data.head(5)

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

In [ ]:
# Problem 1
# outlook = sunny, temp =hot, Humidit =high, wind= weak
#play or not

In [ ]:
9# sountions
#P(yes/ sunny, hot, high, weak)= p(sunny/yes)*p(hot/yes)* p(high/yes)*p(weak/yes)* p(yes)

#P(NO/ sunny, hot, high, weak)= p(sunny/No)*p(hot/no)* p(high/no)*p(weak/no)* p(no)

# compare and deicde maximum a prostriori rule

In [ ]:
# problem 2

#outlook = overcat ,temp = cold, humidity =low , wind =weak

# play or not play

In [ ]:
# soluntions
#p(yes/overcast,cold, low, weak)=p(overcast/yes)*p(cold/yes)*p(low/yes)*p(weak*/yes)*p(yes)

##p(no/overcast,cold, low, weak)=p(overcast/no)*p(cold/no)*p(low/no)*p(weak*/no)*p(no)

# compare and deicde maximum a prostriori rule

In [ ]:
# training 

# lookup table (dictnaroy)

# testing

In [ ]:
# P(yes)
#p(no)

In [4]:
data['Play Tennis'].value_counts()

Play Tennis
Yes    9
No     5
Name: count, dtype: int64

In [8]:
py = 9/14
pn = 5/14

In [10]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [13]:
# otlook

pd.crosstab(data['Outlook'],data['Play Tennis'])

Play Tennis  No  Yes
Outlook
Overcast      0    4
Rain          2    3
Sunny         3    2

In [14]:
Pon = 0
prn = 2/5
prs = 3/5


poy =4/9
pry = 3/9
psy = 2/9

In [15]:
pd.crosstab(data['Temperature'],data['Play Tennis'])

Play Tennis  No  Yes
Temperature
Cool          1    3
Hot           2    2
Mild          2    4

In [16]:
pnc =1/5
phn = 2/5
pmn = 2/5


pcy =3/9
phy=2/9
pmy = 4/9

In [17]:
pd.crosstab(data['Humidity'],data['Play Tennis'])

Play Tennis  No  Yes
Humidity
High          4    3
Normal        1    6

In [19]:
phn = 4/5
pnn = 1/5

phy = 3/9
pny = 6/9

In [20]:
pd.crosstab(data['Wind'],data['Play Tennis'])

Play Tennis  No  Yes
Wind
Strong        3    3
Weak          2    6

In [21]:
psn = 3/5
pwn = 2/5


psy = 3/9
pyw = 6/9

In [27]:
# outlook = sunny, temp =hot, Humidit =high, wind= weak

#P(yes/ sunny, hot, high, weak)= p(sunny/yes)*p(hot/yes)* p(high/yes)*p(weak/yes)* p(yes)

pyes = (psy*py)*(phy*py)*(pyw*py)*(py)

In [29]:
#P(NO/ sunny, hot, high, weak)= p(sunny/No)*p(hot/no)* p(high/no)*p(weak/no)* p(no)

pNo =(psn*pn)*(phn*pn)*(pwn*pn)*(pn)

In [28]:
print(pyes)

0.012650978758850483

In [30]:
print(pNo)

0.003123698458975428